/* Basic */
body{
    margin: 0;
    background-color: black;
}

/* Header */
nav{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 30px;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    /* text-transform: uppercase; */
    border-bottom: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav li a{
    color: white;
    text-decoration: none;
}
.navigation{
    padding: 20px;
}

/* Main */
div{
    margin: 100px 0 100px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.slide{
    max-width: 1100px;
    margin: auto;
    position: relative;
}
.img_{
    max-width: 1100px;
    display: none;
}
.img_btn{
    max-width: 25px;
}
/* .time_btn{
    max-width: 25px;
}
#pause_btn{
    display: none;
} */

/* Responsive */
@media (max-width: 500px) {
    nav{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}